{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 msx-auto">
        <div class="card">
            <div class="card=header">
                <h3 class="card-title text-center">Регистрация</h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Зарегистрироватться</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <small>Уже есть аккаунт? <a href="{% url 'users:login' %}">Войти</a></small>
            </div>
        </div>
    </div>
</div>
{% endblock %}